<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
	
	<p th:if="${error} != null" th:text="${error}"></p>
	
	<form action="/chooseview" method ="post">
		<select name="abcor321">
			<option value="abc">ABC</option>
			<option value="321">321</option>
		</select>
		<input type="submit"/>
	
	</form>
	
	<form action="/selection" method="post">
		<input type="text" name="text" placeholder="search"/>
		<input type="submit"/>
	</form>
	
	<p>Save to</p>
	
	<div th:if="${authorsdto} != null">
		<form action="/save" method="post">
		
			<input type="hidden" name="list" th:value="${authorsdto}"/>
			<select name="option">
				<option value="sql">MySql Database</option>
				<option value="xml">XML file</option>
			</select>
			<input type="submit"/>
		
		</form>
	</div>
	
	<div th:if="${success} != null">
	
	<p th:text="${success}"></p>
	
	</div>
	
		<table>
			<tr>
				<th>Author name</th>
				<th>Appearance times</th>
			</tr>
			<tr th:each="authors : ${authorsdto.getAuthorDtos()}">
				<td th:text="${authors.getName()}"></td>
				<td th:text="${authors.getAppears()}"></td>
			</tr>
		
		</table>
	
	</body>
</html>